* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NBInternationalProBoo;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #faf8f3;
}
a {
  color: inherit;
  text-decoration: unset;
}
@font-face {
  font-family: NBInternationalProBoo;
  src: url(./font/NBInternationalProBoo.woff2);
}
@font-face {
  font-family: Rejouice;
  src: url(./font/Rejouice-Headline.woff2);
}
button {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 1.2vw;
}
.page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.page1-content {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.7vw 3vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  color: white;
  pointer-events: none;
}
header h3 {
  font-size: max(1.4vw, 14px);
  font-weight: 100;
  pointer-events: all;
}
.link {
  color: white;
  position: relative;
  font-size: max(1.4vw, 14px);

  padding-inline: 0;
  pointer-events: all;
  cursor: pointer;
}
.link::after {
  content: "";
  height: 0.1rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}

.link:hover::after {
  transform: scaleX(100%);
  transform-origin: left;
}
.page1-content h1 {
  font-size: 27vw;
  color: white;
  line-height: 1;
  font-size: 100;
  font-family: Rejouice;
}
.cursor {
  height: 7.5vw;
  width: 7.5vw;
  background-color: rgba(1, 1, 1, 0.534);
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 300ms;
  translate: -50% -50%;
  scale: 0;
}

.cursor h5 {
  font-size: 1.1vw;
  pointer-events: none;
  color: white;
}

.page2 {
  padding: 4vw 3vw 6vw;
  height: auto;
  min-height: auto;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8vw 0;
  overflow: hidden;
}
.head p {
  font-size: 1.65vw;
  font-size: max(1.65vw, 14px);

  font-weight: normal;
}
.page2 h3 {
  font-size: 4.2vw;
  font-weight: lighter;
  padding-top: 1vw;
  overflow: hidden;
}
.page2 h3:first-child:before {
  content: "";
  width: 7.5vw;
  height: 1cap;
  display: inline-block;
}
.page2 h3 span {
  display: inline-block;
}
.page3 {
  padding: 15vw 3vw 3vw;
}
.page3-top {
  text-align: center;
}
.page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.page3-top h2 {
  font-size: 4vw;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-weight: 100;
}

.page3-top h2 span {
  font-weight: 100;
  text-shadow: -2px -2px 1px #faf8f3, 2px -2px 1px #faf8f3, 2px 2px 1px #faf8f3,
    -2px 2px 1px #faf8f3;
}
.page3-top h4 span {
  font-size: 0.7vw;
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 50vmax;
}
.page3-top .arrow {
  rotate: -90deg;
}

.page3-top h2 span::after,
.page3-top h2 span::before {
  content: "";
  height: 0.2rem;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -0.8vw;
  /* transition: transform 2s cubic-bezier(0.43, 0.195, 0.02, 1); */
  transition: transform 0.5s 0.1s cubic-bezier(0.43, 0.195, 0.02, 1);
  width: 100%;
  transform-origin: 100% 0;
  z-index: -1;
}

.page3-top h2 span::before {
  transform: scaleX(0) translateZ(0);
  transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
}
.page3-top h2:hover span::before {
  transform: scaleX(1) translateZ(0);
  transform-origin: 0 0;
  transition: transform 0.5s 0.1s cubic-bezier(0.43, 0.195, 0.02, 1);
}
.page3-top h2 span::after {
  transform: scaleX(1) translateZ(0);
  transform-origin: 0% 0;
}
.page3-top h2:hover span::after {
  transform: scaleX(0) translateZ(0);
  transform-origin: 100% 0;
  transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
}
.page3-element-top {
  margin-top: 8vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vw;
}
.page3-element-top h3 {
  font-size: 1.6vw;
  font-weight: 100;
}
.page3-element-top a {
  font-size: 1.4vw;
  color: black;
  font-weight: 100;
}
.page3-element-top a::after {
  background-color: black;
}
.page3-element-top .right {
  display: flex;
  gap: 10px;
}
.page3-element-top .arrow {
  font-size: 1.4vw;
  transform: scaleX(-1);
}
.page3-element {
  /* height: 75vh; */
  display: flex;
  justify-content: space-between;
}
.page3-element .box {
  width: 32%;
  height: 100%;
  position: relative;
}
.page3-element .box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 500ms opacity;
}
.page3-element .box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box:hover img {
  opacity: 0;
}
